.content {
  display: flex;
  justify-content: space-between;
  padding: 26px 26px 0 26px;
  max-width: 70%;
  h1 {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 8px;
    max-width: 80%;
  }
  button {
    all: unset;
    cursor: pointer;
  }
}
span {
  font-weight: 700;
  font-size: 12px;
  padding: 0 26px;
}

@media (min-width: 1000px) {
  .wrapper {
    max-width: 70%;
    h1,
    span {
      font-size: 18px !important;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}
