.wrapper {
  position: absolute;
  top: 40%;
  padding: 26px;
}
.greeting {
  display: flex;
  gap: 16px;
  h2 {
    font-size: 15px;
  }
}

.info {
  p:first-child {
    font-size: 100px;
    line-height: 100px;
    margin: 16px 0;
  }
  p {
    font-weight: 700;
  }
}
.btnWrapper {
  margin-top: 30%;
  .showBtn,
  .showBtnActive {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 115px;
    height: 39px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 28px;
    color: #000000;
    position: absolute;
    top: 63%;

    .img {
      width: 40px;
      height: 40px;
      background-color: #303030;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .show {
    width: 100vw;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    position: absolute;
    padding: 30px 26px;
    overflow: hidden;
    display: grid;
    row-gap: 10px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    p,
    h3 {
      color: #303030 !important;
    }
    h3 {
      font-weight: 700;
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
  }
}
