.wrapper {
  margin-top: 70%;
}
.greeting {
  display: flex;
  gap: 16px;
  h2 {
    font-size: 15px;
  }
}

.info {
  p:first-child {
    font-size: 100px;
    line-height: 100px;
    margin: 16px 0;
  }
  p {
    font-weight: 700;
  }
}
.btnWrapper {
  margin-top: 30%;
  .showBtn,
  .showBtnActive {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 115px;
    height: 39px;
    background-color: #ffffff;
    border-radius: 28px;
    color: #000000;

    .img {
      width: 32px;
      height: 32px;
      background-color: #303030;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
